.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.HomePage {
  font-size: 1.2rem;
}

.ViewPage img.Token {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 112, 147, 0.1);
}

.ViewPage .Description {
  font-size: 1.3rem;
}

.MintPage {
  font-size: 1.2rem;
}

.MintPage form {
  text-align: center;
}