.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.navbar-logo-image {
  height: 40px;
  margin-right: 10px;
  border-radius: 50%
}

.navbar-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.navbar-link {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-button {
  margin-left: 20px;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #0056b3;
}

w3m-button {
  margin-left: 10px;
}